<head>
    {% include analytics.html %}
    {% include matomo.html %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Write your title here....</title>



    <!-- SEO 🌐 -->
    <meta name="keywords" content="tags, SEO, Keywords" />
    <meta name="author" content="Author_Name" />
    <meta name="description" content="Descriping your page" />

    <!-- OpenGraph 🕶 -->
    <meta property="og:title" content="Page_title" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="🎓description will show for Meta (FB, Insta, Whatsapp)." />
    <meta property="og:image" content="img/location/thumbnail.jpg" />

    <meta property="twitter:title" content="WebPage title" />
    <meta property="twitter:description" content="🎓description will show for twitter." />
    <meta property="twitter:image" content="img/location/Twitter_thumbnail.jpg" />


    <!-- Favicon 📷 -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


</head>